﻿html {
    font-size: 14px;
    color: #FFF;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.body-auth {
    color: white;
}

.body-auth * {
     color: inherit;
}

.glass {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0,0.5));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.footer[b-9g1omx7iki] {
    line-height: 2.2rem;
}
